{% extends "base.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <h1>Nos produits phares</h1>
    <div class="row">
        {% for p in products %}
            <div class="col">
                {# {% include 'product/_product_card.html.twig' with {'product' : p} %} #}
                {# It is recommended to use the include function instead as it provides the same features with a bit more flexibility: #}
                {# https://twig.symfony.com/doc/3.x/tags/include.html #}
                {{ include('product/_product_card.html.twig', {'product' : p}) }}
            </div> {# end of 'col' #}
        {% endfor %}
    </div> {# end of 'row' #}
    <hr>
    <h2>Un service irreprochable</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit cupiditate quas quis dignissimos eos eaque.</p>

    <div class="row">
        {# {% include "shared/_assurance.html.twig" with {
            'color': 'primary',
            'icon': 'fas fa-truck',
            'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores veritatis nisi explicabo obcaecati quidem quod."
        } %} #}
        {{ include("shared/_assurance.html.twig", {
            'color': 'primary',
            'icon': 'fas fa-truck',
            'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores veritatis nisi explicabo obcaecati quidem quod."
        }) }}
        {{ include("shared/_assurance.html.twig", {
            'color': 'success',
            'icon': 'fas fa-check',
            'text': "Ipsum dolor lorem sit amet consectetur adipisicing elit. Dolores veritatis nisi explicabo obcaecati quidem quod."
        }) }}
          {{ include("shared/_assurance.html.twig", {
            'color': 'warning',
            'icon': 'fas fa-lock',
            'text': "Dolor lorem ipsum sit amet consectetur adipisicing elit. Dolores veritatis nisi explicabo obcaecati quidem quod."
        }) }}
    </div> {# end of 'row' #}
{% endblock %}